<div class="header-main">
  <div class="header-filter">
    <div class="header-logo"></div>
    <input [(ngModel)]="searchString" type="text" class="header-search-input" />
    <button
      (click)="submitSearch()"
      class="header-search-button button-blue button-m"
    >
      search
    </button>
  </div>
  <button
    (click)="respService.showFilters = !respService.showFilters"
    class="header-sort-button page-button"
  ></button>
</div>
<div class="header-links">
  <a class="button-blue button-m" routerLink="/"> Home </a>
  <a class="button-blue button-m" routerLink="/about-us"> About-us </a>
  <a class="button-blue button-m" routerLink="/user-forms"> Form </a>
</div>
<div (click)="authService.signOut()" class="header-authorization">
  <div class="header-auth-icon"></div>
  <p>{{ user?.mail || "not logged in" }}</p>
</div>
