<div class="card-l">
  <div
    class="card-l-img"
    [ngStyle]="{
      'background-image': 'url(' + item.snippet.thumbnails.high.url + ')'
    }"
  ></div>
  <div class="card-l-other">
    <div class="card-l-top">
      <h4 class="card-l-name">{{ item.snippet.title }}</h4>
      <p>{{ vidDate | date }}</p>
    </div>
    <article>
      <h5>Description:</h5>
      <p class="card-l-description">{{ item.snippet.description }}</p>
    </article>
    <div class="card-l-info">
      <div class="info-views">
        <i class="fa-solid fa-eye"></i> {{ item.statistics.viewCount }}
      </div>
      <div class="info-likes">
        <i class="fa-solid fa-heart"></i>{{ item.statistics.likeCount }}
      </div>
      <div class="info-comments">
        <i class="fa-solid fa-comment"></i>{{ item.statistics.commentCount }}
      </div>
    </div>
  </div>
</div>
