<div class="card-l" >
  <div class="card-l-img"></div>
  <div class="card-l-other">
      <div class="card-l-top"><h2 class="card-l-name">Title goes here </h2> <p>Date info goes here</p></div>
      <p>Here be the info</p>
      <p class="card-l-description">Lorem ipsum dolor sit amen</p>
      <div class="card-l-info">
          <div class="info-views"><i class="fa-solid fa-eye"></i> 9999</div>
          <div class="info-likes"><i class="fa-solid fa-heart"></i>9999</div>
          <div class="info-comments"><i class="fa-solid fa-comment"></i>9999</div>
      </div>
  </div>
</div>
