<form (ngSubmit)="handleSubmit()" [formGroup]="cardForm" class="card-form">
  <button (click)="exitForm()" class="button-blue form-exit">X</button>

  <div class="input-grp">
    <label class="block-label" htmlFor="title"> Title </label>
    <input
      id="title"
      placeholder="Title"
      type="text"
      class="input-field"
      formControlName="title"
    />
    <ng-container
      *ngIf="cardForm.get('title')!.touched && cardForm.get('title')!.invalid"
    >
      <app-form-error-logger
        *ngIf="cardForm.get('title')!.errors!['required']"
        [error]="'Please enter a title'"
      ></app-form-error-logger>
      <app-form-error-logger
        *ngIf="cardForm.get('title')!.errors!['minlength']"
        [error]="'The title is too short'"
      ></app-form-error-logger>
      <app-form-error-logger
        *ngIf="cardForm.get('title')!.errors!['maxlength']"
        [error]="'The title is too long'"
      ></app-form-error-logger>
    </ng-container>
  </div>

  <div class="input-grp">
    <label class="block-label" htmlFor="description"> Description </label>
    <input
      id="description"
      placeholder="Description"
      type="text"
      class="input-field"
      formControlName="description"
    />
    <ng-container
      *ngIf="cardForm.get('description')!.touched && cardForm.get('description')!.invalid"
    >
      <app-form-error-logger
        *ngIf="cardForm.get('description')!.errors!['maxlength']"
        [error]="'The description is too long'"
      ></app-form-error-logger>
    </ng-container>
  </div>

  <div class="input-grp">
    <label class="block-label" htmlFor="img"> Image Link </label>
    <input
      id="img"
      placeholder="Image Link"
      type="text"
      class="input-field"
      formControlName="img"
    />
    <ng-container
      *ngIf="cardForm.get('img')!.touched && cardForm.get('img')!.invalid"
    >
      <app-form-error-logger
        *ngIf="cardForm.get('img')!.errors!['imgLinkInvalid']"
        [error]="'The image link is invalid'"
      ></app-form-error-logger>
      <app-form-error-logger
        *ngIf="cardForm.get('img')!.errors!['required']"
        [error]="'Please enter the image link'"
      ></app-form-error-logger>
    </ng-container>
  </div>

  <div class="input-grp">
    <label class="block-label" htmlFor="link"> Video Link </label>
    <input
      id="link"
      placeholder="Video Link"
      type="text"
      class="input-field"
      formControlName="link"
    />
    <ng-container
      *ngIf="cardForm.get('link')!.touched && cardForm.get('link')!.invalid "
    >
      <app-form-error-logger
        *ngIf="cardForm.get('link')!.errors!['required']"
        [error]="'Please enter a video link'"
      ></app-form-error-logger>

      <app-form-error-logger
        *ngIf="cardForm.get('link')!.errors!['videoLinkInvalid']"
        [error]="'The video link is invalid'"
      ></app-form-error-logger>
    </ng-container>
  </div>

  <div class="input-grp">
    <label class="block-label" htmlFor="date"> Creation Date </label>
    <input
      id="date"
      placeholder="Creation Date"
      type="text"
      class="input-field"
      formControlName="date"
    />
    <ng-container
      *ngIf="cardForm.get('date')!.touched && cardForm.get('date')!.invalid "
    >
    <app-form-error-logger
        *ngIf="cardForm.get('date')!.errors!['required']"
        [error]="'Please enter a date'"
      ></app-form-error-logger>
      <app-form-error-logger
        *ngIf="cardForm.get('date')!.errors!['dateInvalid']"
        [error]="'The date is invalid'"
      ></app-form-error-logger>
    </ng-container>
  </div>

  <input type="submit" value="Submit" class="button-blue button-m" />
</form>
