<form (ngSubmit)="handleSubmit()" [formGroup]="cardForm" class="card-form">
  <button (click)="toggleFormVisibility()" className="button-blue form-exit">
    X
  </button>

  <div class="input-grp">
    <label class="block-label" htmlFor="title"> Title </label>
    <input
      id="title"
      placeholder="Title"
      type="text"
      class="input-field"
       formControlName="title"
    />
    <app-form-error-logger
      [error]="cardForm.get('title')!.errors"
    ></app-form-error-logger>
  </div>

  <div class="input-grp">
    <label class="block-label" htmlFor="description"> Description </label>
    <input
      id="description"
      placeholder="Description"
      type="text"
      class="input-field"
       formControlName="description"
    />
    <app-form-error-logger
      [error]="cardForm.get('description')!.errors"
    ></app-form-error-logger>
  </div>

  <div class="input-grp">
    <label class="block-label" htmlFor="img"> Image Link </label>
    <input
      id="img"
      placeholder="Image Link"
      type="text"
      class="input-field"
       formControlName="img"
    />
    <app-form-error-logger
      [error]="cardForm.get('img')!.errors"
    ></app-form-error-logger>
  </div>

  <div class="input-grp">
    <label class="block-label" htmlFor="link"> Image Link </label>
    <input
      id="link"
      placeholder="Video Link"
      type="text"
      class="input-field"
       formControlName="link"
    />
    <app-form-error-logger
      [error]="cardForm.get('link')!.errors"
    ></app-form-error-logger>
  </div>

  <div class="input-grp">
    <label class="block-label" htmlFor="date"> Creation Date </label>
    <input
      id="date"
      placeholder="Creation Date"
      type="text"
      class="input-field"
       formControlName="date"
    />
    <app-form-error-logger
      [error]="cardForm.get('link')!.errors"
    ></app-form-error-logger>
  </div>

  <input type="submit" value="Submit" class="button-blue button-m" />
</form>
