<div class="user-page-header">
  <a class="button-blue button-m" routerLink="/"> Home </a>
  <h1>Make your own personalized cards by clikcing on this button below</h1>
</div>

<button class="button-blue card-s-more" (click)="toggleFormVisibility()">
  Click me!
</button>
<div *ngIf="formIsVisible" class="page-overlay">
  <app-user-card-form
    (formExit)="toggleFormVisibility()"
    [toggleFormVisibility]="toggleFormVisibility"
    [addCard]="addCard"
  ></app-user-card-form>
</div>
<div className="card-list">
  <app-user-card
    *ngFor="let userVid of userCards$ | async"
    [userVid]="userVid"
  ></app-user-card>
</div>
