:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.user-page-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 10%;
  color: white;
  background-color: #2f80ed;
}

.search-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.bdisabled {
  opacity: 0.5;
}
