:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.user-page-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 10%;
  color: white;
  background-color: #2f80ed;
}

.search-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.error-msg {
  color: darkred;
}
.bdisabled {
  opacity: 0.5;
}

.block-label {
  display: block;
  text-align: center;
}
.input-grp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-block {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  padding: 1% 5%;
}
