.forms-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-msg {
  color: darkred;
}
.bdisabled {
  opacity: 0.5;
}

.block-label {
  display: block;
  text-align: center;
}
.input-grp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-block {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  padding: 1% 5%;
}
