:host {
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-found-message{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.not-found-icon {
  width: 100px;
  height: 100px;
  background-image: url(../../../../assets/404.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
